# Using Pandas for Structured Data

[Rossmann Datafile](http://files.fast.ai/part2/lesson14/rossmann.tgz)

In [1]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [2]:
from fastai.structured import *
from fastai.column_data import *
from pathlib import Path

In [3]:
PATH = Path("data/rossmann")

In [4]:
files = list(PATH.iterdir())
files

[PosixPath('data/rossmann/googletrend.csv'),
 PosixPath('data/rossmann/state_names.csv'),
 PosixPath('data/rossmann/train.csv'),
 PosixPath('data/rossmann/store.csv'),
 PosixPath('data/rossmann/weather.csv'),
 PosixPath('data/rossmann/test.csv'),
 PosixPath('data/rossmann/store_states.csv'),
 PosixPath('data/rossmann/sample_submission.csv')]

### Process for getting a list of filenames using Pathlib

In [5]:
files[0]

PosixPath('data/rossmann/googletrend.csv')

In [6]:
str(files[0])

'data/rossmann/googletrend.csv'

In [7]:
str(files[0])[14:-4]

'googletrend'

In [8]:
table_names = [str(file)[14:-4] for file in files]
table_names

['googletrend',
 'state_names',
 'train',
 'store',
 'weather',
 'test',
 'store_states',
 'sample_submission']

In [9]:
#Removing sample_submission as it is not required
table_names = table_names[:7]
table_names

['googletrend',
 'state_names',
 'train',
 'store',
 'weather',
 'test',
 'store_states']

### Creating a list of dataframes

In [10]:
tables = [pd.read_csv(Path(PATH/table).with_suffix('.csv'), low_memory=False) for table in table_names]

In [11]:
#Displays dataframes as a HTML table
from IPython.display import display

In [12]:
for table in tables:
    display(table.head())

             file                     week  trend
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67

           StateName State
0  BadenWuerttemberg    BW
1             Bayern    BY
2             Berlin    BE
3        Brandenburg    BB
4             Bremen    HB

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Max_VisibilityKm,Mean_VisibilityKm,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,NordrheinWestfalen,2013-01-01,8,4,2,7,5,1,94,87,...,31.0,12.0,4.0,39,26,58.0,5.08,6.0,Rain,215
1,NordrheinWestfalen,2013-01-02,7,4,1,5,3,2,93,85,...,31.0,14.0,10.0,24,16,NaN,0.00,6.0,Rain,225
2,NordrheinWestfalen,2013-01-03,11,8,6,10,8,4,100,93,...,31.0,8.0,2.0,26,21,NaN,1.02,7.0,Rain,240
3,NordrheinWestfalen,2013-01-04,9,9,8,9,9,8,100,94,...,11.0,5.0,2.0,23,14,NaN,0.25,7.0,Rain,263
4,NordrheinWestfalen,2013-01-05,8,8,7,8,7,6,100,94,...,10.0,6.0,3.0,16,10,NaN,0.00,7.0,Rain,268

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

   Store State
0      1    HE
1      2    TH
2      3    NW
3      4    BE
4      5    SN

### Summary statistics for all the tables

In [13]:
#.describe is a built in Pandas method
tables[0].describe()

             trend
count  2072.000000
mean     63.814189
std      12.650246
min       0.000000
25%      55.000000
50%      64.000000
75%      72.000000
max     100.000000

In [14]:
#DataFrameSummary extends the functionality of the describe method
for table in tables:
    display(DataFrameSummary(table).summary())

                     file         week    trend
count                 NaN          NaN     2072
mean                  NaN          NaN  63.8142
std                   NaN          NaN  12.6502
min                   NaN          NaN        0
25%                   NaN          NaN       55
50%                   NaN          NaN       64
75%                   NaN          NaN       72
max                   NaN          NaN      100
counts               2072         2072     2072
uniques                14          148       68
missing                 0            0        0
missing_perc           0%           0%       0%
types         categorical  categorical  numeric

             StateName   State
count               16      16
unique              16      16
top            Sachsen      NW
freq                 1       1
counts              16      16
uniques             16      16
missing              0       0
missing_perc        0%      0%
types           unique  unique

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
count,1.01721e+06,1.01721e+06,NaN,1.01721e+06,1.01721e+06,1.01721e+06,1.01721e+06,NaN,1.01721e+06
mean,558.43,3.99834,NaN,5773.82,633.146,0.830107,0.381515,NaN,0.178647
std,321.909,1.99739,NaN,3849.93,464.412,0.375539,0.485759,NaN,0.383056
min,1,1,NaN,0,0,0,0,NaN,0
25%,280,2,NaN,3727,405,1,0,NaN,0
50%,558,4,NaN,5744,609,1,0,NaN,0
75%,838,6,NaN,7856,837,1,1,NaN,0
max,1115,7,NaN,41551,7388,1,1,NaN,1
counts,1017209,1017209,1017209,1017209,1017209,1017209,1017209,1017209,1017209
uniques,1115,7,942,21734,4086,2,2,4,2
missing,0,0,0,0,0,0,0,0,0
missing_perc,0%,0%,0%,0%,0%,0%,0%,0%,0%
types,numeric,numeric,categorical,numeric,numeric,bool,bool,categorical,bool

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
count,1115,NaN,NaN,1112,761,761,1115,571,571,NaN
mean,558,NaN,NaN,5404.9,7.2247,2008.67,0.512108,23.5954,2011.76,NaN
std,322.017,NaN,NaN,7663.17,3.21235,6.19598,0.500078,14.142,1.67494,NaN
min,1,NaN,NaN,20,1,1900,0,1,2009,NaN
25%,279.5,NaN,NaN,717.5,4,2006,0,13,2011,NaN
50%,558,NaN,NaN,2325,8,2010,1,22,2012,NaN
75%,836.5,NaN,NaN,6882.5,10,2013,1,37,2013,NaN
max,1115,NaN,NaN,75860,12,2015,1,50,2015,NaN
counts,1115,1115,1115,1112,761,761,1115,571,571,571
uniques,1115,4,3,654,12,23,2,24,7,3
missing,0,0,0,3,354,354,0,544,544,544
missing_perc,0%,0%,0%,0.27%,31.75%,31.75%,0%,48.79%,48.79%,48.79%
types,numeric,categorical,categorical,numeric,numeric,numeric,bool,numeric,numeric,categorical

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Max_VisibilityKm,Mean_VisibilityKm,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees
count,NaN,NaN,15840,15840,15840,15840,15840,15840,15840,15840,...,15459,15459,15459,15840,15840,3604,15840,14667,NaN,15840
mean,NaN,NaN,14.6441,10.389,6.19899,8.58782,6.20581,3.62614,93.6596,74.2829,...,24.0576,12.2398,7.02516,22.7666,11.9722,48.8643,0.831718,5.55131,NaN,175.897
std,NaN,NaN,8.64601,7.37926,6.52639,6.24478,6.08677,6.12839,7.67853,13.4866,...,8.9768,5.06794,4.9806,8.98862,5.87284,13.027,2.51351,1.68771,NaN,101.589
min,NaN,NaN,-11,-13,-15,-14,-15,-73,44,30,...,0,0,0,3,2,21,0,0,NaN,-1
25%,NaN,NaN,8,4,1,4,2,-1,90.75,65,...,14,10,3,16,8,39,0,5,NaN,80
50%,NaN,NaN,15,11,7,9,7,4,94,76,...,31,11,7,21,11,48,0,6,NaN,202
75%,NaN,NaN,21,16,11,13,11,8,100,85,...,31,14,10,27,14,55,0.25,7,NaN,256
max,NaN,NaN,39,31,24,25,20,19,100,100,...,31,31,31,101,53,111,58.93,8,NaN,360
counts,15840,15840,15840,15840,15840,15840,15840,15840,15840,15840,...,15459,15459,15459,15840,15840,3604,15840,14667,11889,15840
uniques,16,990,51,45,40,40,36,40,53,71,...,24,32,24,44,29,47,41,9,21,362
missing,0,0,0,0,0,0,0,0,0,0,...,381,381,381,0,0,12236,0,1173,3951,0
missing_perc,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,...,2.41%,2.41%,2.41%,0%,0%,77.25%,0%,7.41%,24.94%,0%
types,categorical,categorical,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,...,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,categorical,numeric

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday
count,41088,41088,41088,NaN,41077,41088,NaN,41088
mean,20544.5,555.9,3.97917,NaN,0.854322,0.395833,NaN,0.443487
std,11861.2,320.274,2.01548,NaN,0.352787,0.489035,NaN,0.496802
min,1,1,1,NaN,0,0,NaN,0
25%,10272.8,279.75,2,NaN,1,0,NaN,0
50%,20544.5,553.5,4,NaN,1,0,NaN,0
75%,30816.2,832.25,6,NaN,1,1,NaN,1
max,41088,1115,7,NaN,1,1,NaN,1
counts,41088,41088,41088,41088,41077,41088,41088,41088
uniques,41088,856,7,48,2,2,2,2
missing,0,0,0,0,11,0,0,0
missing_perc,0%,0%,0%,0%,0.03%,0%,0%,0%
types,numeric,numeric,numeric,categorical,bool,bool,bool,bool

                Store        State
count            1115          NaN
mean              558          NaN
std           322.017          NaN
min                 1          NaN
25%             279.5          NaN
50%               558          NaN
75%             836.5          NaN
max              1115          NaN
counts           1115         1115
uniques          1115           12
missing             0            0
missing_perc       0%           0%
types         numeric  categorical

### Dataframe selection methods

https://www.shanelynn.ie/select-pandas-dataframe-rows-and-columns-using-iloc-loc-and-ix/

In [15]:
#Stores each table as a variable
googletrend, state_names, train, store, weather, test, store_states = tables

In [16]:
googletrend.head()

             file                     week  trend
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67

In [17]:
googletrend.columns

Index(['file', 'week', 'trend'], dtype='object')

In [18]:
#Accessing a column in a dataframe
googletrend.week[0:5]

0    2012-12-02 - 2012-12-08
1    2012-12-09 - 2012-12-15
2    2012-12-16 - 2012-12-22
3    2012-12-23 - 2012-12-29
4    2012-12-30 - 2013-01-05
Name: week, dtype: object

In [19]:
#Using .loc
googletrend.loc[0:5,'week']

0    2012-12-02 - 2012-12-08
1    2012-12-09 - 2012-12-15
2    2012-12-16 - 2012-12-22
3    2012-12-23 - 2012-12-29
4    2012-12-30 - 2013-01-05
5    2013-01-06 - 2013-01-12
Name: week, dtype: object

In [20]:
#Using .iloc
googletrend.iloc[0:5, 1]

0    2012-12-02 - 2012-12-08
1    2012-12-09 - 2012-12-15
2    2012-12-16 - 2012-12-22
3    2012-12-23 - 2012-12-29
4    2012-12-30 - 2013-01-05
Name: week, dtype: object

### Dateparts

In [21]:
googletrend.week[0]

'2012-12-02 - 2012-12-08'

In [22]:
type(googletrend.week[0])

str

In [23]:
#On a string we can access string methods directly
googletrend.week[0].split(' - ')

['2012-12-02', '2012-12-08']

In [24]:
type(googletrend.week)

pandas.core.series.Series

In [25]:
#On a series, we can use the .str method to access string methods
googletrend.week.str.split(' - ')[0]

['2012-12-02', '2012-12-08']

In [26]:
googletrend['Date'] = googletrend.week.str.split(' - ', expand=True)[0]
googletrend.head()

             file                     week  trend        Date
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96  2012-12-02
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95  2012-12-09
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91  2012-12-16
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48  2012-12-23
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67  2012-12-30

In [28]:
googletrend.dtypes

file     object
week     object
trend     int64
Date     object
dtype: object

In [29]:
#Adding dateparts
add_datepart(googletrend, "Date", drop=False)
googletrend

,file,week,trend,Date,Year,Month,Week,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
0,Rossmann_DE_SN,2012-12-02 - 2012-12-08,96,2012-12-02,2012,12,48,2,6,337,False,False,False,False,False,False,1354406400
1,Rossmann_DE_SN,2012-12-09 - 2012-12-15,95,2012-12-09,2012,12,49,9,6,344,False,False,False,False,False,False,1355011200
2,Rossmann_DE_SN,2012-12-16 - 2012-12-22,91,2012-12-16,2012,12,50,16,6,351,False,False,False,False,False,False,1355616000
3,Rossmann_DE_SN,2012-12-23 - 2012-12-29,48,2012-12-23,2012,12,51,23,6,358,False,False,False,False,False,False,1356220800
4,Rossmann_DE_SN,2012-12-30 - 2013-01-05,67,2012-12-30,2012,12,52,30,6,365,False,False,False,False,False,False,1356825600
5,Rossmann_DE_SN,2013-01-06 - 2013-01-12,71,2013-01-06,2013,1,1,6,6,6,False,False,False,False,False,False,1357430400
6,Rossmann_DE_SN,2013-01-13 - 2013-01-19,53,2013-01-13,2013,1,2,13,6,13,False,False,False,False,False,False,1358035200
7,Rossmann_DE_SN,2013-01-20 - 2013-01-26,58,2013-01-20,2013,1,3,20,6,20,False,False,False,False,False,False,1358640000
8,Rossmann_DE_SN,2013-01-27 - 2013-02-02,55,2013-01-27,2013,1,4,27,6,27,False,False,False,False,False,False,1359244800
9,Rossmann_DE_SN,2013-02-03 - 2013-02-09,55,2013-02-03,2013,2,5,3,6,34,False,False,False,False,False,False,1359849600
10,Rossmann_DE_SN,2013-02-10 - 2013-02-16,58,2013-02-10,2013,2,6,10,6,41,False,False,False,False,False,False,1360454400
11,Rossmann_DE_SN,2013-02-17 - 2013-02-23,65,2013-02-17,2013,2,7,17,6,48,False,False,False,False,False,False,1361059200
12,Rossmann_DE_SN,2013-02-24 - 2013-03-02,48,2013-02-24,2013,2,8,24,6,55,False,False,False,False,False,False,1361664000
13,Rossmann_DE_SN,2013-03-03 - 2013-03-09,51,2013-03-03,2013,3,9,3,6,62,False,False,False,False,False,False,1362268800
14,Rossmann_DE_SN,2013-03-10 - 2013-03-16,50,2013-03-10,2013,3,10,10,6,69,False,False,False,False,False,False,1362873600
15,Rossmann_DE_SN,2013-03-17 - 2013-03-23,58,2013-03-17,2013,3,11,17,6,76,False,False,False,False,False,False,1363478400
16,Rossmann_DE_SN,2013-03-24 - 2013-03-30,54,2013-03-24,2013,3,12,24,6,83,False,False,False,False,False,False,1364083200
17,Rossmann_DE_SN,2013-03-31 - 2013-04-06,55,2013-03-31,2013,3,13,31,6,90,True,False,True,False,False,False,1364688000
18,Rossmann_DE_SN,2013-04-07 - 2013-04-13,64,2013-04-07,2013,4,14,7,6,97,False,False,False,False,False,False,1365292800
19,Rossmann_DE_SN,2013-04-14 - 2013-04-20,47,2013-04-14,2013,4,15,14,6,104,False,False,False,False,False,False,1365897600
20,Rossmann_DE_SN,2013-04-21 - 2013-04-27,51,2013-04-21,2013,4,16,21,6,111,False,False,False,False,False,False,1366502400
21,Rossmann_DE_SN,2013-04-28 - 2013-05-04,47,2013-04-28,2013,4,17,28,6,118,False,False,False,False,False,False,1367107200
22,Rossmann_DE_SN,2013-05-05 - 2013-05-11,57,2013-05-05,2013,5,18,5,6,125,False,False,False,False,False,False,1367712000
23,Rossmann_DE_SN,2013-05-12 - 2013-05-18,64,2013-05-12,2013,5,19,12,6,132,False,False,False,False,False,False,1368316800
24,Rossmann_DE_SN,2013-05-19 - 2013-05-25,54,2013-05-19,2013,5,20,19,6,139,False,False,False,False,False,False,1368921600
25,Rossmann_DE_SN,2013-05-26 - 2013-06-01,67,2013-05-26,2013,5,21,26,6,146,False,False,False,False,False,False,1369526400
26,Rossmann_DE_SN,2013-06-02 - 2013-06-08,45,2013-06-02,2013,6,22,2,6,153,False,False,False,False,False,False,1370131200
27,Rossmann_DE_SN,2013-06-09 - 2013-06-15,55,2013-06-09,2013,6,23,9,6,160,False,False,False,False,False,False,1370736000
28,Rossmann_DE_SN,2013-06-16 - 2013-06-22,67,2013-06-16,2013,6,24,16,6,167,False,False,False,False,False,False,1371340800
29,Rossmann_DE_SN,2013-06-23 - 2013-06-29,56,2013-06-23,2013,6,25,23,6,174,False,False,False,False,False,False,1371945600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2042,Rossmann_DE_SL,2015-03-08 - 2015-03-14,60,2015-03-08,2015,3,10,8,6,67,False,False,False,False,False,False,1425772800
2043,Rossmann_DE_SL,2015-03-15 - 2015-03-21,61,2015-03-15,2015,3,11,15,6,74,False,False,False,False,False,False,1426377600
2044,Rossmann_DE_SL,2015-03-22 - 2015-03-28,80,2015-03-22,2015,3,12,22,6,81,False,False,False,False,False,False,1426982400
2045,Rossmann_DE_SL,2015-03-29 - 2015-04-04,61,2015-03-29,2015,3,13,29,6,88,False,False,False,False,False,False,1427587200
2046,Rossmann_DE_SL,2015-04-05 - 2015-04-11,67,2015-04-05,2015,4,14,5,6,95,False,False,False,False,False,False,1428192000
2047,Rossmann_DE_SL,2015-04-12 - 2015-04-18,58,2015-04-12,2015,4,15,12,6,102,False,False,False,False,False,False,1428796800
2048,Rossmann_DE_SL,2015-04-19 - 2015-04-25,67,2015-04-19,2015,4,16,19,6,109,False,False,False,False,False,False,1429401600
2049,Rossmann_DE_SL,2015-04-26 - 2015-05-02,86,2015-04-26,2015,4,17,26,6,116,False,False,False,False,False,False,1430006400
2050,Rossmann_DE_SL,2015-05-03 - 2015-05-09,70,2015-05-03,2015,5,18,3,6,123,False,False,False,False,False,False,1430611200
2051,Rossmann_DE_SL,2015-05-10 - 2015-05-16,77,2015-05-10,2015,5,19,10,6,130,False,False,False,False,False,False,1431216000
2052,Rossmann_DE_SL,2015-05-17 - 2015-05-23,77,2015-05-17,2015,5,20,17,6,137,False,False,False,False,False,False,1431820800
2053,Rossmann_DE_SL,2015-05-24 - 2015-05-30,78,2015-05-24,2015,5,21,24,6,144,False,False,False,False,False,False,1432425600
2054,Rossmann_DE_SL,2015-05-31 - 2015-06-06,95,2015-05-31,2015,5,22,31,6,151,True,False,False,False,False,False,1433030400
2055,Rossmann_DE_SL,2015-06-07 - 2015-06-13,90,2015-06-07,2015,6,23,7,6,158,False,False,False,False,False,False,1433635200
2056,Rossmann_DE_SL,2015-06-14 - 2015-06-20,100,2015-06-14,2015,6,24,14,6,165,False,False,False,False,False,False,1434240000
2057,Rossmann_DE_SL,2015-06-21 - 2015-06-27,70,2015-06-21,2015,6,25,21,6,172,False,False,False,False,False,False,1434844800
2058,Rossmann_DE_SL,2015-06-28 - 2015-07-04,83,2015-06-28,2015,6,26,28,6,179,False,False,False,False,False,False,1435449600
2059,Rossmann_DE_SL,2015-07-05 - 2015-07-11,53,2015-07-05,2015,7,27,5,6,186,False,False,False,False,False,False,1436054400
2060,Rossmann_DE_SL,2015-07-12 - 2015-07-18,53,2015-07-12,2015,7,28,12,6,193,False,False,False,False,False,False,1436659200
2061,Rossmann_DE_SL,2015-07-19 - 2015-07-25,50,2015-07-19,2015,7,29,19,6,200,False,False,False,False,False,False,1437264000
2062,Rossmann_DE_SL,2015-07-26 - 2015-08-01,69,2015-07-26,2015,7,30,26,6,207,False,False,False,False,False,False,1437868800
2063,Rossmann_DE_SL,2015-08-02 - 2015-08-08,88,2015-08-02,2015,8,31,2,6,214,False,False,False,False,False,False,1438473600
2064,Rossmann_DE_SL,2015-08-09 - 2015-08-15,68,2015-08-09,2015,8,32,9,6,221,False,False,False,False,False,False,1439078400
2065,Rossmann_DE_SL,2015-08-16 - 2015-08-22,81,2015-08-16,2015,8,33,16,6,228,False,False,False,False,False,False,1439683200
2066,Rossmann_DE_SL,2015-08-23 - 2015-08-29,48,2015-08-23,2015,8,34,23,6,235,False,False,False,False,False,False,1440288000
2067,Rossmann_DE_SL,2015-08-30 - 2015-09-05,95,2015-08-30,2015,8,35,30,6,242,False,False,False,False,False,False,1440892800
2068,Rossmann_DE_SL,2015-09-06 - 2015-09-12,47,2015-09-06,2015,9,36,6,6,249,False,False,False,False,False,False,1441497600
2069,Rossmann_DE_SL,2015-09-13 - 2015-09-19,80,2015-09-13,2015,9,37,13,6,256,False,False,False,False,False,False,1442102400
2070,Rossmann_DE_SL,2015-09-20 - 2015-09-26,57,2015-09-20,2015,9,38,20,6,263,False,False,False,False,False,False,1442707200
2071,Rossmann_DE_SL,2015-09-27 - 2015-10-03,0,2015-09-27,2015,9,39,27,6,270,False,False,False,False,False,False,1443312000

In [30]:
googletrend.dtypes

file                        object
week                        object
trend                        int64
Date                datetime64[ns]
Year                         int64
Month                        int64
Week                         int64
Day                          int64
Dayofweek                    int64
Dayofyear                    int64
Is_month_end                  bool
Is_month_start                bool
Is_quarter_end                bool
Is_quarter_start              bool
Is_year_end                   bool
Is_year_start                 bool
Elapsed                      int64
dtype: object

In [31]:
#Adds dateparts for the rest of the tables
add_datepart(weather, "Date", drop=False)
add_datepart(train, "Date", drop=False)
add_datepart(test, "Date", drop=False)

### Filtering a column in a dataframe

In [35]:
#Splitting up the file column
googletrend['State'] = googletrend.file.str.split('_', expand=True)[2]
set(googletrend['State'])

{'BE',
 'BW',
 'BY',
 'HE',
 'HH',
 'NI',
 'NW',
 None,
 'RP',
 'SH',
 'SL',
 'SN',
 'ST',
 'TH'}

In [38]:
#Filters on every column
googletrend.loc[googletrend.State=='NI'][0:5]

,file,week,trend,Date,Year,Month,Week,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed,State
1184,Rossmann_DE_NI,2012-12-02 - 2012-12-08,76,2012-12-02,2012,12,48,2,6,337,False,False,False,False,False,False,1354406400,NI
1185,Rossmann_DE_NI,2012-12-09 - 2012-12-15,73,2012-12-09,2012,12,49,9,6,344,False,False,False,False,False,False,1355011200,NI
1186,Rossmann_DE_NI,2012-12-16 - 2012-12-22,84,2012-12-16,2012,12,50,16,6,351,False,False,False,False,False,False,1355616000,NI
1187,Rossmann_DE_NI,2012-12-23 - 2012-12-29,53,2012-12-23,2012,12,51,23,6,358,False,False,False,False,False,False,1356220800,NI
1188,Rossmann_DE_NI,2012-12-30 - 2013-01-05,51,2012-12-30,2012,12,52,30,6,365,False,False,False,False,False,False,1356825600,NI

In [39]:
#Filters on just the 'State' column
googletrend.loc[googletrend.State=='NI', "State"][0:5]

1184    NI
1185    NI
1186    NI
1187    NI
1188    NI
Name: State, dtype: object

In [40]:
googletrend.loc[googletrend.State=='NI', "State"] = 'HB,NI'
googletrend.loc[googletrend.State=='HB,NI', "State"][0:5]

1184    HB,NI
1185    HB,NI
1186    HB,NI
1187    HB,NI
1188    HB,NI
Name: State, dtype: object

### Merging data